#welcome_text {
    font-family: fantasy;
    font-style: italic;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10%;
}

#menu_button {
    background-color: plum;
    border-radius: 20px;
    font-family:fantasy;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}

#button_container {
    display: flex;
    justify-content: center; 
}

body {
    background-color: aquamarine;
}