<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css')}}" type="text/css">
    <title>Add Finanance Log</title>
</head>
<body>
    <h1>Add Savings</h1>
</body>
</html>