<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css')}}" type="text/css">
    <title>Finanace Planner</title>
</head>
<body>
<div class="container" id="welcome_text">
    <h1>WELCOME TO FINANANCE PLANNER!</h1>
    <h2>The best financial planner from Ryugu palace</h2>
</div>
<div id="button_container">
<button id="menu_button" onclick="location.href = 'savings/';">View Savings</button>
</div>
</body>
</html>