<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css')}}" type="text/css">
    <title>Finanace Tracker</title>
</head>
<body>
    <div class="container">
        <h2>Savings List</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Income</th>
                    <th>Expenses</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {% for saves in savings %}
                <tr>
                    <td>{{ saves.id }}</td>
                    <td>{{ saves.date }}</td>
                    <td>{{ saves.description }}</td>
                    <td>{{ saves.incomeAmount }}</td>
                    <td>{{ saves.expenseAmount }}</td>
                    <td>    
                        <button class="update-btn" value="{{ saves.id }}">Update</button>
                        <button class="delete-btn" value="{{ saves.id }}">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>


        </table>



    </div>
</body>
</html>