<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css')}}" type="text/css">
    <title>Update Finanance Log</title>
</head>
<body>
    
</body>
</html>